# entorno virtual
.venv/
venv/

# cache python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# datasets procesados
data/processed/*
!data/processed/.gitkeep

# modelos entrenados
models/*
!models/.gitkeep

# ignorar imágenes generadas
reports/figures/*

# mantener métricas
!reports/metrics/
!reports/metrics/*

# sistema
.DS_Store