# entorno virtual
.venv/
venv/

# cache python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# ignorar contenido generado
data/processed/*
models/*
reports/figures/*
reports/metrics/*

# mantener carpetas vacías
!data/processed/.gitkeep
!models/.gitkeep
!reports/figures/.gitkeep
!reports/metrics/.gitkeep

# sistema
.DS_Store